*{		margin: 0;
		padding: 0;
		box-sizing:border-box;
		}



 /*html{height: 100%;}*/

body{	background: #E6EAE5;
		color: #1B5900 ;
		font-family: 'Josefin Sans', sans-serif;
		min-height: 100%;
		width: 100% ;
		
		}

                                 /*LINEA 2 MENU 2 */	

.imglogo{margin-top:100px;
		margin-left: 76%;
		position: absolute;
		transform: rotate(-90deg);
			background: rgba(255, 255, 255, 0.4);
			border-radius: 100px;
		}

.hnav{	
	position: absolute;
		width:120px;
		height: 30px;
		margin-top: 10px;
		background: rgba(0, 0, 0, 0.4);
		padding:7px;
		text-decoration: none;
		color: white;
		text-align: center;
	}

.notice{
		text-align: center;	

		position: absolute;
		width:400px;
		height: 300px;
		margin-top: 60px;
		margin-left: 20px;
		background: rgba(0, 0, 0, 0.1);
		padding:7px;
		text-decoration: none;
		color: white;
		padding-top: 5%;
		font-size: 50px;
		border-radius: 15px;

	}



.imgfamilia2{
		width: 100%;
		height: 100%;
		}

.cinta2{margin-left: auto;
		margin-right: auto;
		position: relative;
		height: 430px;
		width: 1345px;
		/*min-width:100%;*/}



				
/* -----------------CONTENIDO-----------------------------*/
/* -----------------CONTENIDO-----------------------------*/


.contenido{
			margin-left: auto;
			margin-right: auto;
			width: 1345px;
			height: 1050px;

			}

		
.titulo1{text-align: center;
			width: 1345px;
			margin-top: 25px;
			margin-bottom:25px;
			}

			
.div_A{
	width: 1345px;
	height: 315px;
	margin-left: auto;
	margin-right: auto;
	align-content: center;

	}



.div2{
	 width: 900px;
 	height: 300px;
	margin-left: auto;
	margin-right: auto;
 	font-size: 25px;
 	 	}
.div2 p{
	padding: 10px;
	text-align: center;
	color: #39B404;
	}









						/*LINEA 6 MENU  FOOTER PIE DE PAGIONA */


.pins a{text-decoration: none;
		color: white;
		}
		
.pie{
		margin-top: 45px;
		margin-left: auto;
		margin-right: auto;
		background: #195903 ;
		width: 1345px;
		height: 150px;
		color: white;
		}

.pred img{
		width: 40px;
		height: 40px;
		color: white;		
		}

.plogo img{
			width: 220px;
			margin-top: 20px;
			}

.plogo, .pins, .pserv, .pred{
			display: inline-block;
			margin-right: 90px;
			margin-left: 20px;
			}





 